In [28]:
# Import Libraries

import pandas as pd
import numpy as np
from BorutaShap import BorutaShap
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from boruta import BorutaPy

In [29]:
# Load Data

GTD = pd.read_csv('C:/R Portfolio/Global_Terrorism_Prediction/globalterrorismdb_0522dist.csv', 
                     encoding = 'latin1',
                     low_memory = False)
GTD_1 = pd.read_csv('C:/R Portfolio/Global_Terrorism_Prediction/globalterrorismdb_2021Jan-June_1222dist.csv', 
                     encoding = 'latin1',
                     low_memory = False)
GTD_combined = pd.concat([GTD, GTD_1], ignore_index = True)
GTD_combined

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214661,202106300023,2021,6,30,NaN,0,NaN,4,Afghanistan,6,...,NaN,"""Gunmen blow up power pylon in Parwan,"" Afghan...","""Provinces hit by blackout after power pylon d...",NaN,START Primary Collection,-9,-9,0,-9,NaN
214662,202106300029,2021,6,30,06/30/2021,0,NaN,138,Myanmar,5,...,NaN,"""Spring Revolution Daily News for 16-30 June 2...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
214663,202106300030,2021,6,30,NaN,1,08/07/2021,147,Nigeria,11,...,NaN,"""Boko Haram Releases Abducted Catholic Priest ...","""Kidnapped Maiduguri Catholic Priest regains f...","""ISWAP-Boko Haram Abduct Catholic Priest In Bo...",START Primary Collection,0,0,0,0,NaN
214664,202106300038,2021,6,30,NaN,0,NaN,45,Colombia,3,...,NaN,"""Two dead and one wounded after clashes betwee...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
214665,202107020037,2021,6,30,NaN,0,NaN,138,Myanmar,5,...,There is doubt that this incident meets terror...,"""Spring Revolution Daily News for 2-7 July 202...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN

In [30]:
# Load Functions

execfile('C:/Python_Data_Sets/Functions 10_07_2023.py')

In [32]:
# Process Data

GTD_New = preprocess_data(GTD_combined)
GTD_New

,Year,Month,Day,Country,Region,Province,City,Attack,Target,Group,Weapon,Dead,Lethal
0,1970,7,2,OtherCountry,Central America & Caribbean,OtherProvince,OtherCity,Assassination,Private,OtherGroup,OtherWeapon,1.0,1
1,1970,0,0,OtherCountry,North America,OtherProvince,OtherCity,HostageKidnapAttack,OtherTarget,OtherGroup,OtherWeapon,0.0,0
2,1970,1,0,OtherCountry,Southeast Asia,OtherProvince,Unknown,Assassination,OtherTarget,OtherGroup,OtherWeapon,1.0,1
3,1970,1,0,OtherCountry,Western Europe,OtherProvince,OtherCity,BombAttack,OtherTarget,OtherGroup,Explosives,0.0,0
4,1970,1,0,OtherCountry,East Asia,OtherProvince,OtherCity,InfrastructureAttack,OtherTarget,OtherGroup,Incendiary,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214661,2021,6,30,Afghanistan,South Asia,OtherProvince,OtherCity,BombAttack,OtherTarget,OtherGroup,Explosives,0.0,0
214662,2021,6,30,OtherCountry,Southeast Asia,OtherProvince,OtherCity,HostageKidnapAttack,OtherTarget,OtherGroup,OtherWeapon,1.0,1
214663,2021,6,30,OtherCountry,Sub-Saharan Africa,OtherProvince,Unknown,HostageKidnapAttack,OtherTarget,OtherGroup,Firearms,0.0,0
214664,2021,6,30,OtherCountry,South America,OtherProvince,Unknown,BombAttack,OtherTarget,OtherGroup,Explosives,0.0,0
214665,2021,6,30,OtherCountry,Southeast Asia,OtherProvince,OtherCity,BombAttack,Business,OtherGroup,Explosives,0.0,0

In [33]:
# Region Data

# SA Region Data
EE_data = GTD_New[GTD_New['Region'] == 'Eastern Europe']
EE_data

,Year,Month,Day,Country,Region,Province,City,Attack,Target,Group,Weapon,Dead,Lethal
15,1970,1,10,OtherCountry,Eastern Europe,OtherProvince,OtherCity,BombAttack,GovtGen,OtherGroup,Explosives,0.0,0
34,1970,1,28,OtherCountry,Eastern Europe,OtherProvince,OtherCity,InfrastructureAttack,Police,OtherGroup,Incendiary,0.0,0
241,1970,4,28,OtherCountry,Eastern Europe,OtherProvince,OtherCity,InfrastructureAttack,GovtGen,OtherGroup,Incendiary,0.0,0
258,1970,5,5,OtherCountry,Eastern Europe,OtherProvince,OtherCity,InfrastructureAttack,OtherTarget,OtherGroup,Incendiary,0.0,0
275,1970,5,10,OtherCountry,Eastern Europe,OtherProvince,OtherCity,InfrastructureAttack,Business,OtherGroup,Incendiary,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213322,2021,5,4,OtherCountry,Eastern Europe,OtherProvince,OtherCity,BombAttack,Business,OtherGroup,Explosives,0.0,0
213341,2021,5,5,OtherCountry,Eastern Europe,OtherProvince,OtherCity,BombAttack,Private,OtherGroup,Explosives,0.0,0
213775,2021,5,25,OtherCountry,Eastern Europe,OtherProvince,OtherCity,BombAttack,Private,OtherGroup,Explosives,0.0,0
213813,2021,5,27,OtherCountry,Eastern Europe,OtherProvince,OtherCity,ArmedAssaultAttack,Military,OtherGroup,Explosives,1.0,1
214312,2021,6,17,OtherCountry,Eastern Europe,OtherProvince,OtherCity,InfrastructureAttack,OtherTarget,OtherGroup,Incendiary,0.0,0

In [34]:
# Convert Data into Dummy format

EE_categorical_cols = ['Country', 'Province', 'City', 'Attack', 'Target', 'Group', 'Weapon']
EE_data_1 = pd.get_dummies(EE_data, columns = SEA_categorical_cols)
# Drop the specified columns
columns_to_drop = ['Year', 'Month', 'Day', 'Dead', 'Region']
EE_data_1 = EE_data_1.drop(columns = columns_to_drop)
EE_data_1

,Lethal,Country_OtherCountry,Province_OtherProvince,City_OtherCity,City_Unknown,Attack_ArmedAssaultAttack,Attack_Assassination,Attack_BombAttack,Attack_HostageKidnapAttack,Attack_InfrastructureAttack,...,Target_GovtGen,Target_Military,Target_OtherTarget,Target_Police,Target_Private,Group_OtherGroup,Weapon_Explosives,Weapon_Firearms,Weapon_Incendiary,Weapon_OtherWeapon
15,0,1,1,1,0,0,0,1,0,0,...,1,0,0,0,0,1,1,0,0,0
34,0,1,1,1,0,0,0,0,0,1,...,0,0,0,1,0,1,0,0,1,0
241,0,1,1,1,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,1,0
258,0,1,1,1,0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,1,0
275,0,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213322,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
213341,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,1,1,1,0,0,0
213775,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,1,1,1,0,0,0
213813,1,1,1,1,0,1,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
214312,0,1,1,1,0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,1,0

In [35]:
# Remove "Attack_", "Weapon_", "Target_" and "Country_" from column names
EE_data_1 .columns = EE_data_1 .columns.str.replace('Attack_', '').str.replace('Target_', '').str.replace('Weapon_', '').str.replace('Country_', '')
EE_data_1

,Lethal,OtherCountry,Province_OtherProvince,City_OtherCity,City_Unknown,ArmedAssaultAttack,Assassination,BombAttack,HostageKidnapAttack,InfrastructureAttack,...,GovtGen,Military,OtherTarget,Police,Private,Group_OtherGroup,Explosives,Firearms,Incendiary,OtherWeapon
15,0,1,1,1,0,0,0,1,0,0,...,1,0,0,0,0,1,1,0,0,0
34,0,1,1,1,0,0,0,0,0,1,...,0,0,0,1,0,1,0,0,1,0
241,0,1,1,1,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,1,0
258,0,1,1,1,0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,1,0
275,0,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213322,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
213341,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,1,1,1,0,0,0
213775,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,1,1,1,0,0,0
213813,1,1,1,1,0,1,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
214312,0,1,1,1,0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,1,0

In [36]:
X = EE_data_1.drop('Lethal', axis = 1)
y = EE_data_1['Lethal']

In [37]:
# Splits the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [38]:
# Defines the estimator used by the Boruta algorithm
estimator = RandomForestRegressor()

In [39]:
# Creates the BorutaPy object
boruta = BorutaPy(estimator = estimator, n_estimators = 'auto', max_iter = 100)
# Fits Boruta
boruta.fit(np.array(X_train), np.array(y_train))

BorutaPy(estimator=RandomForestRegressor(n_estimators=14,
                                         random_state=RandomState(MT19937) at 0x1EFC0E53540),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x1EFC0E53540)

In [40]:
# Important features
important = list(X.columns[boruta.support_])
print(f"Features confirmed as important: {important}")

Features confirmed as important: ['Firearms']

In [25]:
# Boruta Shap

In [41]:
selector = BorutaShap(importance_measure = 'shap', classification = False)

In [42]:
# Fits the selector
selector.fit(X = X_train, y = y_train, n_trials = 100, sample = False, verbose = True)
# n_trials -> number of iterations for Boruta algorithm
# sample -> samples the data so it goes faster

  0%|          | 0/100 [00:00<?, ?it/s]

4 attributes confirmed important: ['OtherTarget', 'InfrastructureAttack', 'Firearms', 'Assassination']
18 attributes confirmed unimportant: ['ArmedAssaultAttack', 'HostageKidnapAttack', 'Province_OtherProvince', 'City_Unknown', 'Unknown', 'BombAttack', 'Group_OtherGroup', 'Explosives', 'Business', 'Military', 'Private', 'City_OtherCity', 'GovtGen', 'Incendiary', 'Police', 'OtherCountry', 'OtherAttack', 'OtherWeapon']
0 tentative attributes remains: []